body {
    height:100%;
    width:100%;
    
    min-width: 250px; 
    min-height:350px;
    overflow-y:auto!important;
    overflow-x:auto!important;
}
html {
    min-height: 350px;
    min-width: 250px;
    height: 100%;
    margin:0;
    padding:0;
    overflow-y:auto!important;
    overflow-x:auto!important;
}
